*{
    margin: 0px;
    padding: 0px;
}

body {
    color: rgb(0, 0, 0);
    background-color: rgb(212, 229, 189);
}

.nav {
    height: var(--header--height);
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: groove;
    color: aliceblue;
    background-color: rgb(146, 131, 105);
}

.div1 {
    color: white;
    font-weight: var(--font-semi-bold);
    transition: .4s;
}

.div1:hover {
    color: rgb(6, 253, 232);
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    margin: 0px 30px 0px 3px;
}

.nav_close,
.nav_toggle {
    font-size: 1.5rem;
    cursor: pointer;
}
/* Mobile Devive Nevigation */
@media screen and (max-width: 1150px){
    nav {
        height: var(--header--height);
        margin-top: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        border: groove;
        color: aliceblue;
        background-color: rgb(146, 131, 105);
    }
    .nav_menu {
        position: fixed;
        top: -120%;
        left: 0%;
        width: 100%;
        background-color: rgb(212, 229, 189);
        box-shadow: 0px 8px 16px hsla(0, 0%, 0%, .5);
        padding-block: 5rem 4rem;
        border-radius: 0 0 1.5rem 1.5rem;
        transition: top .4s;
    }    
}
.nav_list {
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .nav_link {
        position: relative;
        color: white;
        font-weight: medium;
        transition: color .4s, width.4s ;
    }

    .nav_link::after {
        content: ;
        width: 60%;
        height: 2px;
        background-color: hsl(var(--hue), 80%, 48%);
        position: absolute;
        left: 0;
        bottom: -.5rem;
        transition: width .4s;
    }

    .nav_link:hover{
        color: rgb(6, 253, 232);
    }

    .nav_link:hover::after{
        width: 50%;
    }

    .nav_close {
        position: absolute ;
        top: 1rem;
        right: 1.5rem;
    }

    .show_menu {
        top: 0%;
    }

    /* For large device */
    @media screen and (min-width: 1150px){
        nav {
            height: var(--header--height);
            margin-top: 0px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 30px;
            border: groove;
            color: aliceblue;
            background-color: rgb(146, 131, 105);
        }        
        .nav_container {
            display: flex;
            flex-direction: row;
        
        }

        .nav_list {
            display: flex;
            flex-direction: row;
            padding-right: 10rem;
        }
    .nav_toggle,
    .nav_close {
        display: none;
    } 
    
    }
   

    /*  Main  */
.second_div {
    display: flex;
    justify-content: space-between;
    margin:30px 60px 30px 60px;
    background-color: ;
}

img {
    height: 200px;
    width: 200px;
    border: groove;
    border-radius: 50%;
    box-shadow: 0px 0px 12px 0px rgb(253, 97, 0) ; 
}

.home-logo {
   border: groove;
   margin: 0px 3px 0px 0px;
   background-color: rgb(255, 255, 255);
}
 
.blank_line {
    margin-top: -8px;
    padding: 0px;
    
}

.home_social {
    margin-top: 18px;
}
