*{
    margin: 0px;
    padding: 0px;
}

.firstdiv {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    border: groove;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    margin: 0px 30px 0px 3px;
}

.second_div {
    display: flex;
    justify-content: space-between;
    margin:30px 60px 30px 60px;
}

